.container-fluid {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

#about-card {
  margin: 5% auto auto 15%;
  padding: 1%;
}
body {
  background-image: url("../images/background.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}